<section id="provide" class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height">
    <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6 text-slate-900 dark:text-white">
        Provide
    </h2>
    <ul class="list-none mx-auto my-12 flex flex-col sm:flex-row items-center gap-8">
        <li
            class="w-2/3 sm:w-5/6 flex flex-col items-center border boder-solid border-slate-900 dark:bg-black dark:border-gray-100 bg-white py-6 px-2 my-3 rounded-3xl shadow-xl">
            <img src="../../../assets/img/child.jfif" alt="Explorer" class="w-1/2 mb-6">
            <h3 class="text-3xl text-center text-slate-900 dark:text-white">Provide Child Care</h3>
            <p class="hidden sm:block text-3xl text-center mt-2 text-slate-500 dark:text-slate-400">text</p>
            <p class="sm:hidden text-2xl text-center mt-2 text-slate-500 dark:text-slate-400">another block of text
            </p>
        </li>

        <li
            class="w-2/3 sm:w-5/6 flex flex-col items-center border boder-solid border-slate-900 dark:bg-black dark:border-gray-100 bg-white py-6 px-2 my-3 rounded-3xl shadow-xl">
            <img src="../../../assets/img/daycare.jpg" alt="Adventurer" class="w-1/2 mb-6">
            <h3 class="text-3xl text-center text-slate-900 dark:text-white">Provide Day Care</h3>
            <p class="hidden sm:block text-3xl text-center mt-2 text-slate-500 dark:text-slate-400">text</p>
            <p class="sm:hidden text-2xl text-center mt-2 text-slate-500 dark:text-slate-400">another block of text
            </p>
        </li>


    </ul>
</section>