<app-menu></app-menu>
<main class="max-w-3xl max-auto mx-auto">
    <section class="flex flex-col justify-evenly widescreen:section-min-height tallscreen:section-min-height">
        <section id="top"
            class="flex flex-col-reverse justify-center sm:flex-row  items-center gap-8 mb-10 sm:mb-0 scroll-mt-20 ">
            <article class="sm:w-1/2">
                <h2
                    class="max-w-md mt-5 text-4xl font-bold text-center sm:text-5xl sm:text-left text-slate-800 dark:text-white">
                    <span class="text-nowrap text-yellow-600 dark:text-yellow-400">U </span>
                    <span class="text-nowrap text-cyan-600 dark:text-cyan-300/75">Found Care</span>
                    <span class="text-4xl">

                        <br>when you need it,<br>
                        where you need it!
                    </span>

                </h2>
                <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                    The best licensed care providers in Canada right on your screen. Search, choose and build a better
                    life
                    ...
                </p>
                <p class="max-w-md text-2xl mt-4 text-center sm:text-left text-slate-700 dark:text-slate-400">
                    Now, U Found Care!
                </p>
            </article>
            <img class="w-1/3 mt-5" src="../assets/img/ufound.png" alt="U Found Care">

        </section>
        <section class="flex justify-center my-10">
            <button title="How it works!"
                class="bg-yellow-600 text-2xl sm:text-4xl text-center rounded-2xl shadow-xl px-20 sm:px-40 py-4 mb-12">START
                HERE</button>
        </section>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <app-find></app-find>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <app-provide></app-provide>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <app-testimonials></app-testimonials>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <app-the-app></app-the-app>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <app-contact></app-contact>
</main>

<app-footer></app-footer>