<section id="testimonials"
    class=" p-6 my-2 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height bg-teal-600 dark:bg-black rounded-3xl relative">
    <h2 class="text-4xl mb-12 font-bold text-center sm:text-5xl text-slate-900 dark:text-white ">
        Testimonials
    </h2>

    <swiper-container class="w-full" loop="true" navigation="true" space-between="20" slides-per-view="3">
        <swiper-slide>
            <div class="testimonial-card shadow-2xl">
                <div class="profile mb-4">
                    <img src="../../../assets/img/pessoa1.jpg" alt="" class="m-auto w-40 h-40 rounded-full">
                </div>
                <div class="flex w-10 star">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                </div>
                <div class="card-body text-white dark:text-slate-400">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum inventore nostrum fuga
                        excepturi
                        eum
                        doloremque ipsa aliquam dolore illum?</p>
                    <p>Sibonelo</p>
                    <p>Bug Array</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="testimonial-card shadow-2xl">
                <div class="profile mb-4">
                    <img src="../../../assets/img/pessoa1.jpg" alt="" class="m-auto w-40 h-40 rounded-full">
                </div>
                <div class="flex w-10 star">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                </div>
                <div class="card-body text-white dark:text-slate-400">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum inventore nostrum fuga
                        excepturi
                        eum
                        doloremque ipsa aliquam dolore illum?</p>
                    <p>Sibonelo</p>
                    <p>Bug Array</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="testimonial-card shadow-2xl">
                <div class="profile mb-4">
                    <img src="../../../assets/img/pessoa1.jpg" alt="" class="m-auto w-40 h-40 rounded-full">
                </div>
                <div class="flex w-10 star">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                </div>
                <div class="card-body text-white dark:text-slate-400">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum inventore nostrum fuga
                        excepturi
                        eum
                        doloremque ipsa aliquam dolore illum?</p>
                    <p>Sibonelo</p>
                    <p>Bug Array</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="testimonial-card shadow-2xl">
                <div class="profile mb-4">
                    <img src="../../../assets/img/pessoa1.jpg" alt="" class="m-auto w-40 h-40 rounded-full">
                </div>
                <div class="flex w-10 star">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                    <img src="../../../assets/img/star.png" alt="">
                </div>
                <div class="card-body text-white dark:text-slate-400">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum inventore nostrum fuga
                        excepturi
                        eum
                        doloremque ipsa aliquam dolore illum?</p>
                    <p>Sibonelo</p>
                    <p>Bug Array</p>
                </div>
            </div>
        </swiper-slide>

    </swiper-container>
</section>